---
import Section from "@/components/Section.astro";
import { work } from "@cv";
const {} = work;
---

<Section title="Experiencia laboral">
  <ul>
    {
      work.map(
        ({ name, position, url, startDate, endDate, summary}) => {
           // Formatear fecha en "DD/MM/YYYY"
          const formatDate = (date: string | number | Date) =>
            new Date(date).toLocaleDateString("es-ES");

          const startFormatted = formatDate(startDate);
          const endFormatted = endDate ? formatDate(endDate) : "Actual";
          return (
            <li>
              <article>
                <header>
                  <div>
                    <h3>{name}</h3>
                    <h4>{position}</h4>
                  </div>
                  <time>{startFormatted} - {endFormatted}</time>
                </header>

                <footer>
                  <p>{summary}</p>
                </footer>
              </article>
            </li>
          );
        }
      )
    }
  </ul>
</Section>
<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  article h3{
     color: #222;
  }
  article h4{
    color: #222;
    font-weight:400 ;
  }
  header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }
  time{
    color: #555;
    font-size: 0,85rem;
  }
</style>
